.stopwatch {
    display: grid; 
    grid-template-columns: repeat(2, 1fr) repeat(2, 1.3fr); 
    grid-template-rows: 1fr auto auto auto; 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.logo {
    grid-area: 1 / 1 / 3 / 3;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ef5149;
}

.logo-img {
    width: 80px;
}

.timer {
    width: 185px;
    padding: 25px 0;
    background: white;
    color: #191c21;
    font-size: 2.5rem;
    font-weight: bold;
    align-self: center;
    justify-self: center;
    grid-area: 3 / 1 / 5 / 3; 
}

.badge-home {
    width: 120px;
    padding: 6px 0;
    background: #191c21;;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1 / 3 / 3 / 4; 
}

.badge-home img {
    width: 100px;
}

.badge-away {
    width: 120px;
    padding: 4px 0;
    background: #191c21;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 3 / 3 / 5 / 4;
}

.badge-away img {
    width: 100px;
}

.score-home {
    width: 120px;
    padding: 12px 0;
    background: white;
    color: #191c21;
    font-size: 4rem;
    font-weight: bold;
    align-self: center;
    justify-self: center;
    grid-area: 1 / 4 / 3 / 5;
}

.score-away {
    width: 120px;
    padding: 7px 0;
    background: white;
    color: #191c21;
    font-size: 4rem;
    font-weight: bold;
    align-self: center;
    justify-self: center;
    grid-area: 3 / 4 / 5 / 5; 
}

/* CONTROL PANEL BUTTONS */
.control-panel {
    max-width: 500px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.control-panel button {
    cursor: pointer;
    background: white;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s;
}

.control-panel button:hover {
    background: #ef5149;
    color: white;
}