.stopwatch-container {
	font-family: "JetBrains Mono";
}

h1 {
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
}

.stopwatch {
	display: grid;
	font-family: "Plus Jakarta Sans", sans-serif;
	grid-template-columns: 2fr 1fr 1fr;
	grid-template-rows: 120px 120px;
	gap: 0px;
}

.logo {
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ef5149;
	border: none;
}

.logo-img {
	width: 70px;
}

.timer {
	background: rgb(245, 245, 245);
	color: #191c21;
	font-size: 2.5rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}

.timer span {
	font-family: "Plus Jakarta Sans", sans-serif;
}

.badge {
	background: #191c21;
	color: rgb(245, 245, 245);
	font-size: 2.5rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}

.badge img {
	width: 85px;
}

.score {
	background: rgb(245, 245, 245);
	color: #191c21;
	font-size: 4rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}

.score span {
	font-family: "Plus Jakarta Sans", sans-serif;
}

/* CONTROL PANEL BUTTONS */
.control-panel {
	max-width: 500px;
	display: flex;
	justify-content: center;
	gap: 20px;
}

.control-panel button {
	width: 100px;
	height: 40px;
	font-size: 1.2rem;
	cursor: pointer;
	background: rgb(245, 245, 245);
	border: none;
	font-size: 1rem;
	font-weight: bold;
	border-radius: 10px;
	transition: 0.3s;
	font-family: "JetBrains Mono", sans-serif;
}

.start-button:hover {
	background: rgb(92, 187, 100);
}

.pause-button:hover {
	background: #ef5149;
}

.reset-button:hover {
	background: #f1cf57;
}

.team-selector {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	line-height: normal;
	padding-bottom: 3rem;
	font-family: "JetBrains Mono", sans-serif;
}

.team-selector select {
	cursor: pointer;
	background: rgb(245, 245, 245);
	border: none;
	font-size: 14px;
	padding: 5px;
	font-weight: bold;
	border-radius: 8px;
	margin-bottom: 0.7rem;
	font-family: "JetBrains Mono", sans-serif;
}

.score-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

.score-buttons button {
	cursor: pointer;
	background: rgb(245, 245, 245);
	border: none;
	font-size: 1.2rem;
	font-weight: bold;
	border-radius: 5px;
	transition: 0.3s;
	width: 30px;
	height: 30px;
}

.score-buttons button:hover {
	background: #f1cf57;
}
