* {
	font-family: "JetBrains Mono", sans-serif;
}

#root {
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	font-optical-sizing: auto;
}

#root h1 {
	font-style: italic;
	font-weight: 900;
	font-size: 6rem;
	line-height: 4rem;
	margin-bottom: 0rem;
}

#root h1 span {
	color: #f1cf57;
}

#root p {
	margin-top: 2rem;
	font-size: 12px;
	font-weight: 100;
}

#root p a {
	font-weight: bold;
	text-decoration: none;
	color: rgb(245, 245, 245);
	transition: all 0.3s ease-in-out;
}

#root p a:hover {
	color: #ba6fe8;
}
