* {
	font-family: "JetBrains Mono", sans-serif;
}

#root {
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	font-optical-sizing: auto;
}

#root h1 {
	font-style: italic;
	font-weight: 900;
	font-size: 6rem;
}

#root h1 span {
	color: #f1cf57;
}
